[Unit]
Description=Firewall
After=network.target

[Service]
ExecStart=/usr/local/sbin/firewall.sh start
ExecStop=/usr/local/sbin/firewall.sh stop
Restart=always

[Install]
WantedBy=multi-user.target
